@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(-25deg, #5c6bc0, #9575cd, #ce93d8);
    min-height: 100vh;
    color: #1d1d1d;
    font-family: 'Nunito', sans-serif;
}

main {
    padding: 20px;
}

main > * {
    max-width: 600px;
    margin: 80px auto 200px auto;
}

.auth-form {
    background-color: #ffffff90;
    padding: 20px;
    border-radius: 10px;
    display: grid;
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.form-control input {
    padding: 5px 10px;
    font: inherit;
    border-radius: 10px;
    border: none;
}

.auth-form button {
    justify-self: center;
    width: 50%;
    padding: 10px;
    font: inherit;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #47436d;
}

.auth-form button:hover {
    background-color: #575a9e;
    font-weight: bold;
}

.errors {
    background-color: #fe282890;
    border: 3px solid #fe2828;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    line-height: 1.5;
}

.task-list h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
}

footer {
    padding: 20px;
    background-color: #575a9e;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
}

footer a {
    color: white;
}

footer a:hover {
    color: #ce93d8;
}

button:hover {
    cursor: pointer;
}
