@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(-25deg, #5c6bc0, #9575cd, #ce93d8);
    min-height: 100vh;
    color: #1d1d1d;
    font-family: 'Nunito', sans-serif;
}

header {
    background-color: #47436d;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    position: fixed;
    width: 100vw;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 40px;
}

main {
    padding: 20px;
}

main > * {
    max-width: 600px;
    margin: 80px auto 200px auto;
}

footer {
    padding: 20px;
    background-color: #575a9e;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
}

button:hover {
    cursor: pointer;
}
