.task {
    background-color: #ffffff90;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.completed-task {
    text-decoration: line-through;
    opacity: 0.5;
}

.complete-task-btn {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    border-radius: 50%;
    border: none;
    background-color: white;
    position: relative;
}

.completed-task .complete-task-btn::after {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #5c6bc0;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    border-radius: 50%;
}

.complete-task-btn:hover {
    box-shadow: inset 0 0 5px #00000040;
}
