.task-input {
    background-color: #1d1d1d90;
    position: fixed;
    width: min(calc(100% - 40px), 600px);
    padding: 15px;
    bottom: 50px;
    right: 50%;
    left: 50%;
    transform: translate(calc(-50% - 20px));
    border-radius: 10px;
    color: white;
    margin: 20px;
}

.input-and-btn {
    display: flex;
    margin-top: 10px;
    gap: 5px;
}

.task-input input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font: inherit;
}

.task-input button {
    background-color: #ce93d8;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font: inherit;
}
